$module: "resume-content";

.#{$module} {
    height: 100%;
    width: 100%;

    .section-edit {
        max-width: 35rem;
        margin: 0 auto;

        .personal-details {
            .card-header {
                .header {
                    font-size: 1.4rem;
                    font-weight: 700;
                }
            }
            .card-body {
            }
            .card-footer {
                .btn {
                    padding: 0.375rem 2rem;
                    margin-right: 1rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    .icon {
                        margin-right: 0.25rem;
                        fill: #fff;
                    }
                }
            }
        }
    }

    .section-view {
        max-width: 35rem;
        margin: auto;
        margin-top: 1rem;

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    .#{$module}__section {
        @media (min-width: 992px) {
            max-height: 100vh;
            overflow: auto;
            margin: -1.5rem auto;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}
