$module: "resume-content";

.#{$module} {
    height: 100%;
    width: 100%;

    .section-edit {
        max-width: 35rem;
        margin: 0 auto;
    }

    .section-view {
        max-width: 35rem;
        margin: auto;
        margin-top: 1rem;

        @media (min-width: 992px) {
            margin-top: 0;
        }
    }

    .#{$module}__section {
        // max-width: 35rem;
        // margin: auto;
        // margin-bottom: 1rem;

        @media (min-width: 992px) {
            max-height: 100vh;
            overflow: auto;
            margin: -1.5rem auto;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
}
