$module: "drawer";

.#{$module} {
    background: #fff;
    height: 100%;

    .nav {
        .nav-item {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 6rem;
            position: relative;

            &.active {
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 5px;
                    background: var(--primary);

                    @media (min-width: 992px) {
                        top: 0;
                        width: 5px;
                        height: 100%;
                        bottom: auto;
                    }
                }
            }

            &:hover {
                &:not(:first-child) {
                    .nav-link {
                        transition: 0.1s all ease-in-out;
                        transform: scale(1.04);
                    }
                }
            }

            &:nth-child(2) {
                margin-left: auto;
            }
            &:last-child {
                margin-right: auto;
            }

            .nav-link {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .brand-logo {
                    height: 4rem;
                    width: auto;
                }

                .link-icon {
                    fill: var(--primary);
                }
                .link-text {
                    font-weight: 600;
                }
            }
        }
    }
}
