.page_404 {
    padding: 5rem 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: #fff;

    img {
        width: 100%;
    }

    .four_zero_four_bg {
        height: 400px;
        background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
        background-image: url("../../../asset/gif/page-not-found.gif");
        background-position: center;

        h1 {
            font-size: 5rem;
        }
    }

    .content_box_404 {
        margin-top: -3rem;
    }
}
